h1{
  text-align: center;
}
.description{
  font-size: 24px;
}
.A{
  font-size: 50px;
}
input{
  border: 2px solid grey;
}
.yoname{
  font-size: 24px;
  text-decoration: underline;
}
#result{
  font-size: 32px;
  font-family: 'PT Serif', serif;
  color: blue;
}
.footer{
  background-color: grey;
  color: black;
}
.contribution{
  text-align: center;
}
button{
  background-color: rgb(87, 87, 187);
}